section.brands
    .brands__container--1
        .brands__items
            .brands__items--1
            .brands__items--2
            .brands__items--3
            .brands__items--4

    .brands__container--2
        .brands__items
            .brands__items--1
            .brands__items--2
            .brands__items--3
            .brands__items--4