section.collections
    .collections__slide--1
        .collections__container--1
            .collections__nav
                h1.collections__title Collections
                .collections__buttons
                    a(href="#").collections__button.collections__button--active latest
                    a(href="#").collections__button popular
            .collections__list
                .collections__item
                    .collections__image.collections__image--1
                    .collections__header Adriatica ADR
                    .collections__description $650, 00 
                .collections__item
                    .collections__image.collections__image--2
                    .collections__header SEIKO SNZG07K1
                    .collections__description $125, 00 
                .collections__item
                    .collections__image.collections__image--3
                    .collections__header ROAMER RM 220837
                    .collections__description $250, 00 
    .collections__slide--2
        .collections__container--2
                .collections__nav
                    h1.collections__title Collections
                    .collections__buttons
                        a(href="#").collections__button--dark.collections__button--active latest
                        a(href="#").collections__button--dark popular
                .collections__list
                    .collections__item
                        .collections__image.collections__image--1
                        .collections__header Adriatica ADR
                        .collections__description $650, 00 
                    .collections__item
                        .collections__image.collections__image--2
                        .collections__header SEIKO SNZG07K1
                        .collections__description $125, 00 
                    .collections__item
                        .collections__image.collections__image--3
                        .collections__header ROAMER RM 220837
                        .collections__description $250, 00 
