footer.footer
    .footer__container
        .footer__list
            .footer__item
                .header__logo: img.logo__picture(src="images/logo.png", alt="picture")
                h1.footer__logo--text American Logo Watch
            .footer__item
                .footer__menu
                    h1.footer__menu--title Menu
                    .footer__menu--lists
                        ul.footer__menu--list
                            li.footer__menu--el
                                a(href="#").menu__link Shop
                            li.footer__menu--el
                                a(href="#").menu__link services
                            li.footer__menu--el
                                a(href="#").menu__link faqs
                        ul.footer__menu--list
                            li.footer__menu--el 
                                a(href="#").menu__link contact us
                            li.footer__menu--el 
                                a(href="#").menu__link my account
            .footer__item 
                .footer__feedback
                    h1.footer__feedback--title Sign Up For Our Newsletter
                    input(type="email", name="", placeholder="Enter Email").footer__feedback--email
                    button(type="submit").footer__feedback--button send

        .footer__social
            .social__list
                .social__item 
                    .social__copyright All rights reserved 2018
                .social__item 
                    .social__bottom
                        .social__links 
                            a.social__links--link(href="#")
                                i.fa.fa-twitter.social__links--icons(aria-hidden="true")
                        .social__links 
                            a.social__links--link(href="#")
                                i.fa.fa-facebook.social__links--icons(aria-hidden="true")
