header.header
    .header__container
        .header__logo: img.logo__picture(src="images/logo.png", alt="picture")
        span.header__logo--text American Logo Watch
        include nav
        .header__contacts
            a.header__contacts--tel(href="tel:+1(800)8626772")
                i.fa.fa-volume-control-phone.header__contacts--icon(aria-hidden="true")
                span.header__contacts--text 1 (800) 862 6772 
        
        
