store.store__slider
    .store__slide--1
        .store__container--1
            span.store__title--1 Our Store
            span.store__description--1 As many of you know, our company has a wide field of activity: we are engaged in the development of products, publish design and code related articles, and support the Market, where designers publish their products to sell. FS Industrie is created for digital designs where flexibility is essential. Designed by Phil Garnham and Fernando Mello, the font combines aesthetics with functional utility, delivering a precise and direct feel. 
                
    .store__slide--2
        .store__container--2
            span.store__title--2 Reliability
            span.store__description--2 As many of you know, our company has a wide field of activity: we are engaged in the development of products, publish design and code related articles, and support the Market, where designers publish their products to sell. FS Industrie is created for digital designs where flexibility is essential. Designed by Phil Garnham and Fernando Mello, the font combines aesthetics with functional utility, delivering a precise and direct feel. 