section.say
    .say__container--1
        .say__title
            h1.say__title--text What Customers Are Saying

        .say__list
            .say__item
                .say__dialog
                    .say__dialog--amanda
                .say__about
                    h1.say__about--title Amanda Smith
                    span.say__about--description  As many of you know, our company has a wide field of activity: we are engaged in the development of products, publish design and code related articles, and support the Market, where designers publish their products to sell.
            
            .say__item
                .say__dialog
                    .say__dialog--sandra
                .say__about
                    h1.say__about--title Sandra  Willims
                    span.say__about--description  As many of you know, our company has a wide field of activity: we are engaged in the development of products, publish design and code related articles, and support the Market, where designers publish their products to sell.

    .say__container--2
        .say__title
            h1.say__title--text What Customers Are Saying

        .say__list
            .say__item
                .say__dialog
                    .say__dialog--amanda
                .say__about
                    h1.say__about--title Amanda Smith
                    span.say__about--description  As many of you know, our company has a wide field of activity: we are engaged in the development of products, publish design and code related articles, and support the Market, where designers publish their products to sell.
            
            .say__item
                .say__dialog
                    .say__dialog--sandra
                .say__about
                    h1.say__about--title Sandra  Willims
                    span.say__about--description  As many of you know, our company has a wide field of activity: we are engaged in the development of products, publish design and code related articles, and support the Market, where designers publish their products to sell.
