section.slider
        .slider__slide--1
            .slider__container
                h1.slider__text Custom Watches For <br> Any Occasion
                .slider__buttons
                    a.button.slider__button.button--pink(href="#") Design & Order
                    a.button.slider__button.button--pink(href="#") Request Virtual Samмple
        .slider__slide--2
            .slider__container
                h1.slider__text Custom Watches For <br> Any Occasion
                .slider__buttons
                    a.button.slider__button.button--pink(href="#") Design & Order
                    a.button.slider__button.button--pink(href="#") Request Virtual Sample