section.subheader
    .subheader__container
        h1.subheader__text Custom Logo Watches & More, Free Shipping & Returns
        .subheader__links
            a.subheader__links--link.show(href="#" onclick="WinOp(Conten_000);")             
                i.fa.fa-search.subheader__links--icon(aria-hidden="true")
            a.subheader__links--link(href="#")
                i.fa.fa-shopping-cart.subheader__links--icon.subheader__links--notification(aria-hidden="true") 
            a.subheader__links--link(href="#" onclick="WinOpaut(Conten_0001);")
                i.fa.fa-user.subheader__links--icon(aria-hidden="true")
            

            