body {
    font-family: $ff-main;
    font-size: 0.8rem;
    line-height: 1,2;
    background: #f5f5f5;
}

html {
    box-sizing: border-box;

    @media (max-width:600px) {
        font-size: 15px;
    }
}

*, *:before,*:after {
    box-sizing: inherit;
}
ul,
li {
    list-style-type: none;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}