.button {
    display: inline-block;
    border-radius: 3px;
    padding:  10px 30px 7px 25px;
    text-decoration: none;
    font-family: $ff-bebas;
    text-transform: uppercase;
    color: #977869;

    &--pink {
        background-color: transparent;
        font-size: 1.125rem;
        border: 2px solid #977869;
        transition: 0.3s;

        &:hover {
            background: lighten(#977869,7%);
        }
    }

    &--yellow {
        background-color: #f8cd53;
        transition: 0.3s;
        
        &:hover {
            background: lighten(#f8cd53,7%);
        }
    }

    &--text-uppercase {
        text-transform: uppercase;        
    }

}