@font-face {

    font-family: "ptsans-regular";
    src: url("../fonts/ptsans-regular.ttf") format("truetype");
    font-style: normal;

}

@font-face {

    font-family: "ptsans-bold";
    src: url("../fonts/ptsans-bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    
}

@font-face {

    font-family: "ptsans-italic";
    src: url("../fonts/ptsans-italic.ttf") format("truetype");
    font-style: italic;
    
}

@font-face {

    font-family: "bebas-neue";
    src: url("../fonts/bebas-neue.ttf") format("truetype");
    font-style: normal;
    
}